* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    /* width: 1500px; */
    height: 710px;
    background-image: url(./img/headerblurblack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.headerdiv1 {
    color: beige;
    display: flex;
    /* flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
    font-size: 40px;
    margin-left: 100px;
    padding-top: 25px;
}

.headerh1 {
    margin-left: 100px;
    color: beige;
    font-size: 70px;
    width: 650px;
}

.headerh1 a {
    text-decoration: none;
    color: beige;
}

.headerh1 a:hover {
    color: rgb(149, 13, 13);
}

.section1 {
    height: 1100px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(133,0,0,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -40px;
}

.section1 * {
    margin-right: 40px;
}

.section1 h1 {
    color: beige;
    font-size: 45px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    padding-top: 100px;
}

/* .section1 div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 40px;
}

.section1 img {
    width: 100px;
    height: 10px;
    padding-top: 60px;
    margin-left: 40px;
} */

.section1 h3 {
    color: beige;
    font-size: 30px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    margin-left: 40px;
}

.section1 li {
    color: beige;
    font-size: 25px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.section1 p:last-of-type {
    padding-top: 75px;
}

.section2 {
    height: 1200px;
    background: rgb(119,0,0);
    background: linear-gradient(180deg, rgba(119,0,0,1) 21%, rgba(0,0,0,1) 79%);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.95;
    margin-top: -58px;
}

.section2 h2 {
    color: beige;
    font-size: 70px;
    margin-left: 40px;
    padding-top: 100px;
}

.section2 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 10px;
}

.section2 h4 {
    color: beige;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
}

.section2 li {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 10px;
}

/* .section3 {
    height: 700px;
    background-color: rgb(14, 14, 14);
    margin-top: -42px;
}

.section3 * {
    margin-right: 40px;
}

.section3 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    padding-top: 50px;
}

.section3 p {
    color: beige;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    padding-top: -10px;
}

.section3 a {
    color: rgb(177, 0, 0);
    font-size: 30px;
    font-weight: 650;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
} */

.section31 {
    background-color: rgb(14, 14, 14);
    margin-top: -58px;
    height: 1500px;
}

.section31 h2 {
    color: beige;
    font-size: 70px;
    margin-left: 40px;
    padding-top: 100px;
}

.section31 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 10px;
}

.section31 h4{
    color: beige;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
}

.section4 {
    margin-top: -42px;
    background-image: url(./img/sec5.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px; 
}

.section4 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 10px;
    padding-top: 100px;
    text-align: center;
}

/* .section4 h2{
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 70px;
}

.sec4div0 {
    display: flex;
    justify-content: space-evenly;
}

.section4 p:nth-child(2) {
    color: beige;
    width: 450px;
    font-size: 40px;
    font-weight: 650;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 40px;
}

.sec4div1 p:first-child {
    color: rgb(247, 1, 1);
    font-size: 80px;
    font-weight: 650;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

.sec4div2 p:first-child {
    color: rgb(0, 218, 22);
    font-size: 80px;
    font-weight: 650;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
} */

.section5 {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(133,0,0,1) 100%);
    margin-top: -42px;
    /* display: flex;
    justify-content: space-evenly; */
}

.section5 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 50px;
    margin-left: 40px;
    text-decoration: underline;
}

.section5 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 9px;
    text-align: left;
}

.section5 h4 {
    color: beige;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    margin-right: 100px;
    margin-bottom: 10px;
}

.section5 li {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 7px;
    padding-top: 15px;
}

/* .section5 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 50px;
}

.section5 ul {
    width: 400px;
    background-color: beige;
    border-color: beige;
    border-radius: 30px;
}

.section5 li {
    line-height: 30px;
    padding-right: 10px;
}

.section5 li:first-of-type {
    padding-top: 20px;
}

.section5 li:last-of-type {
    padding-bottom: 20px;
}

.sec5div2 ul {
    height: 520px;
} */

.section6 {
    height: 1350px;
    background: rgb(133,0,0);
    background: linear-gradient(180deg, rgba(133,0,0,1) 4%, rgba(0,0,0,1) 86%);
    margin-top: -42px;
}

.section6 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 40px;
    margin-left: 40px;
}

.section6 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 9px;
    text-align: left;
}

/* .sec6p1 {
    width: 1100px;
    color: beige;
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: -10px;
    margin-left: 100px;
}

.section6 a {
    color: beige;
    font-size: 35px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    padding-top: 40px;
    margin-left: 120px;
} */

.section7 {
    background-color: rgba(0,0,0,1);
    margin-top: -42px;
    height: 1070px;
}

.section7 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
}

.section7 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 9px;
    text-align: left;
}

/* .section7 li {
    color: beige;
    font-size: 33px;
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
} */

.section8 {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(133,0,0,1) 100%);
    height: 1900px;
    margin-top: -30px;
}

.section8 p {
    color: beige;
    font-size: 30px;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    word-spacing: 9px;
    text-align: left;
}

.section8 h4 {
    color: beige;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    margin-right: 100px;
    margin-bottom: 10px;
}

.section8 li {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 7px;
    padding-top: 15px;
}

.section9 {
    background-color: rgba(133,0,0,1);
    height: 750px;
    margin-top: -30px;
}

.section9 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 5px;
    text-align: left;
}

.section9 p:first-of-type {
    padding-top: 40px;
}

.section10 {
    background: rgb(133,0,0);
    background: linear-gradient(180deg, rgba(133,0,0,1) 4%, rgba(0,0,0,1) 86%);
    height: 650px;
    margin-top: -30px;
}

.section10 p {
    color: beige;
    font-size: 30px;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 70px;
    word-spacing: 9px;
    text-align: left;
}

.section11 {
    background-color: rgba(0,0,0,1);
    margin-top: -45px;
    height: 1520px;
}

.section11 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
}

.section11 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 9px;
    text-align: left;
}

.section12 {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(133,0,0,1) 100%);
    height: 650px;
    margin-top: -48px;
}

.section12 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
}

.section12 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 9px;
    text-align: left;
}

.section13 {
    background-color: rgba(133,0,0,1);
    height: 550px;
    margin-top: -45px;
}

.section13 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 40px;
    margin-left: 40px;
}

.section13 p {
    color: beige;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    word-spacing: 9px;
    text-align: left;
}

.sec13p1 {
    width: 1100px;
    color: beige;
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: -10px;
    margin-left: 100px;
}

.section13 a {
    color: beige;
    font-size: 35px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    padding-top: 40px;
    margin-left: 40px;
}


.section14 {
    background: rgb(133,0,0);
    background: linear-gradient(180deg, rgba(133,0,0,1) 4%, rgba(0,0,0,1) 86%);
    margin-top: -42px;
}

.section14 h2 {
    color: beige;
    font-size: 50px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
}

.section14 li {
    color: beige;
    font-size: 33px;
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.footer {
    /* background-color: rgb(31, 31, 31); */
    margin-top: -50px;
    background-color: rgba(0,0,0,1);
    /* width: 1500px; */
}

.footerdiv1 {
    margin-left: 65px;
}

.footerdiv1 :first-child {
    font-size: 50px;
    padding-top: 40px;
    color: beige;
}

.footerdiv1 :last-child {
    font-size: 50px;
    margin-top: 0px;
    color: rgb(133,0,0);
}

.footerdiv2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    margin-left: 65px;
}

.footerdiv2 input {
    height: 60px;
    width: 400px;
    margin-bottom: 60px;
    border-color: white;
    border-radius: 30px;
}

.footer21 {
    display: flex;
    flex-direction: column;
}

.footer22 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.footer22 :last-child {
    height: 185px;
}

.footerdiv2 button {
    height: 35px;
    width: 90px;
    color: white;
    background-color: rgb(133,0,0);
    border-color: rgb(133,0,0);
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 281px;
}

.footer p {
    color: beige;
    padding-bottom: 20px;
    text-align: center;
}
