:root {
    --white: #ffffff;
    --red: rgb(133, 0, 0);
    --font-size-title: 50px;
    --font-weight-title: 700;
    --title: 
        var(--font-size-title)
        var(--font-weight-title);
    --bgimg-size: cover;
    --bgimg-repeat: no-repeat;
    --bgimg: 
        var(--bgimg-repeat)
        var(--bgimg-size);
    --margin: 10px, 40px;
    --font-size-text: 25px;
    --font-weight-text: 300;
    --text: 
        var(--font-size-text)
        var(--font-weight-text);
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.header {
    /* width: 710px; */
    background-image: url(./img/headerblurblack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1px;
    padding-bottom: 1px;
}

.header-nav {
    color: var(--white);
    display: flex;
    /* flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
    font-size: 40px;
    margin-left: 100px;
    padding-top: 25px;
}

.header-title {
    margin-left: 100px;
    margin-bottom: 200px;
    color: var(--white);
    font-size: 65px;
    font-weight: 900;
    width: 650px;
}

.header-title a {
    text-decoration: none;
    color: var(--white);
}

.header-title a:hover {
    color: rgb(149, 13, 13);
}

.first {
    background: rgb(0,0,1);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1px;
    padding-bottom: 5px;
}

.first * {
    margin-right: 40px;
}

.first-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 45px;
    font-weight: 700; */
    line-height: 83px;
    text-align: left;
    margin-left: 40px;
    padding-top: 100px;
}

.first-intro {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    margin-left: 40px;
}

.first-li {
    color: black;
    font-size: 25px;
    font-weight: 800;
    padding: 10px;
    margin: var(--margin);
}

.first-ul {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
    border: 10px solid var(--red);
    border-radius: 30px;
    background-color: var(--white);
    overflow: auto;
}

.goals {
    background-image: url(./img/goals-fog.JPEG);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 1px;
    height: 1430px;
}

.goals-title {
    color: var(--white);
    font-size: 70px;
    margin-left: 40px;
    padding-top: 100px;
}

.goals-text {
    color: var(--white);
    font: var(--text);
    margin: var(--margin);
    word-spacing: 10px;
}

.goals-li-title {
    color: var(--white);
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
}

.goals-li {
    color: var(--white);
    font-size: 30px;
    margin: var(--margin);
    text-align: left;
    text-shadow: 0px 0px 100px black;
}

.goals-ul {
    padding-bottom: 80px;
}

.histback {
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}

.histback-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 55px;
    font-weight: 700; */
    margin-left: 40px;
    margin-top: 52px;
}

.histback-intro {
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 34px;
    line-height: 55px;
}

.histback-rect-title{
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    padding-left: 26px;
    padding-top: 25px;
}

.histback-info {
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    padding-left: 28px;
    padding-right: 40px;
    padding-bottom: 28px;
}

.histback-rect {
    background-color: var(--red);
}

.histback-rect-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.histback-rect:first-of-type {
    width: 558px;
    margin-left: 40px;
    margin-bottom: 345px;
}

.histback-rect:nth-of-type(2) {
    width: 550px;
    height: 580px;
    position: relative;
    top: 294px;
    bottom: 86px;
}

.section4 {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #000000;
    background-image: url(./img/sec5-2.png); 
    background-size: cover;
    background-repeat: no-repeat;
}

.section4 p {
    color: var(--white);
    font-size: 30px;
    margin: var(--margin);
    padding-bottom: 60;
    word-spacing: 10px;
    text-align: left;
}

.rusagr {
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    /* display: flex;
    justify-content: space-evenly; */
}

.rusagr-intro-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 51px;
}

.rusagr-img {
    width: 620px;
    height: 930px;
}

.rusagr-title {
    color: var(--red);
    font-size: 70px;
    font-weight: 700;
    width: 330px;
    text-align: center;
    position: relative;
    right: 280px;
}

.rusagr-intro {
    color: var(--white);
    font-size: 25px;
    font-weight: 300;
    width: 511px;
    line-height: 35px;
}

.rusagr-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rusagr-text {
    color: #FFF;
    font: var(--text);
    background-color: var(--red);
    border-radius: 25px;
    padding: 35px;
    position: relative;
}

.rusagr-text-sec {
    color: #FFF;
    font: var(--text);
    background-color: var(--red);
    border-radius: 25px;
    padding: 35px;
    position: relative;
}

.rusagr-text:first-of-type {
    width: 600px;
    top: 50px;
}

.rusagr-text:nth-of-type(2) {
   width: 550px;
   top: 200px;
}

.rusagr-text-sec:first-of-type {
    width: 400px;
    bottom: 150px;
}

.rusagr-text-sec:nth-of-type(2) {
    width: 400px;
}

.sponsor {
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}

.sponsor-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 50px;
    font-weight: 700; */
    line-height: 92px;
    text-align: left;
    padding-top: 40px;
    margin-left: 40px;
}

.sponsor-sceme {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sponsor-sceme-img {
    width: 156px;
    height: 25px;
    padding-top: 70px;
}

.sponsor-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sponsor-text {
    color: var(--white);
    font: var(--text);
    margin: var(--margin);
    line-height: 50px;
    text-align: left;
}

.sponsor-wrapper 
.sponsor-text {
    width: 600px;
}

.africa {
    background-color: rgb(0,0,0,1);
    margin-top: -42px;
}

.africa-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 50px;
    font-weight: 800; */
    line-height: 92px;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
}

.africa-text {
    color: var(--white);
    font: var(--text);
    margin-left: 50px;
    margin-right: 70px;
}

.africa-img:first-of-type {
    width: 646px;
    height: 508px;
}

.africa-img:nth-of-type(2) {
    width: 529px;
    height: 836px;
}

.africa-wrapper {
    display: flex;
    flex-direction: row;
}

.rusafrica {
    background-color: rgb(0,0,0,1);
    padding-top: 1px;
    padding-bottom: 1px;
}

.rusafrica-title {
    color: #FFF;
    font: var(--title);
    /* font-size: 50px;
    font-weight: 700; */
    margin-left: 50px;
}

.rusafrica-text {
    color: var(--white);
    font: var(--text);
    margin: var(--margin);
    padding-top: 30px;
    word-spacing: 9px;
    text-align: left;
}

.rusafrica-img {
    width: 908px;
    height: 826px;
}

.rusafrica-wrapper {
    display: flex;
    flex-direction: row;
}

.rusafrica-wars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rusafrica-wars-text {
    width: 300px;
    color: var(--white);
    font: var(--text);
    text-align: center;
    padding: 12px;
    border: 5px solid;
    border-radius: 30px;
    border-color: var(--red);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/* .rusafrica-point {
    width: 45px;
    height: 38px;
    position: relative;
    cursor: pointer;
}

.rusafrica-point:first-of-type {
    bottom: 700px;
    left: 780px;
}

.rusafrica-point:nth-of-type(2) {
    bottom: 790px;
    left: 910px;
}

.rusafrica-point:nth-of-type(3) {
    bottom: 590px;
    left: 900px;
}

.rusafrica-point:nth-of-type(4) {
    bottom: 880px;
    left: 1000px;
} */

.myanmar {
    background-color: #000000;
    background-image: url(./img/myanmar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 1px;
}

.myanmar-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 50px;
    font-weight: 700; */
    text-shadow: 0px 0px 20px #000000;
}

.myanmar-text {
    color: var(--white);
    font: var(--text);
    text-shadow: 0px 0px 20px #000000;
}

.taiwan {
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}

.taiwan-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 55px;
    font-weight: 700; */
}

.taiwan-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.taiwan-text {
    color: var(--white);
    font: var(--text);
}

.taiwan-img {
    width: 514px;
    height: 429px;
    position: sticky;
    top: 100px;
}

.venezuela {
    background-color: rgb(0,0,0,1);
    padding-top: 1px;
    padding-bottom: 1px;
}

.venezuela-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.venezuela-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 50px;
    font-weight: 700; */
}

.venezuela-text {
    color: var(--white);
    font: var(--text);
}

.venezuela-img {
    position: sticky;
    top: 100px;
    width: 514px;
    height: 429px;
}

.culture {
    background-color: #000000;
    padding-top: 1px;
    padding-bottom: 1px;
}

.culture-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 50px;
    font-weight: 700; */
    line-height: 92px;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
}

.culture-text {
    color: var(--white);
    font: var(--text);
    margin: var(--margin);
    word-spacing: 9px;
    text-align: left;
}

.interview {
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}

.interview-wrapper {
    display: flex;
    flex-direction: row;
}

.interview-img {
    width: 744px;
    height: 930px;
}

.interview-info-wrapper {
    margin-left: 100px;
    margin-right: 100px;
}

.interview-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 38px;
    font-weight: 700; */
}

.interview-text {
    color: var(--white);
    font: var(--text);
}

.interview-link {
    width: 366px;
    height: 362px;
    position: relative;
    right: 200px;
}


.help {
    background-color: rgb(0,0,0,1);
    padding-top: 1px;
    padding-bottom: 1px;
}

.help-title {
    color: var(--white);
    font: var(--title);
    /* font-size: 50px;
    font-weight: 700; */
    line-height: 92px;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
}

.help-text {
    width: 270px;
    /* height: 300px; */
    color: var(--white);
    font: var(--text);
    text-align: center;
    padding: 12px;
    border: 5px solid;
    border-radius: 30px;
    border-color: var(--red);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}

.help-wrapper {
    margin: var(--margin);
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    /* background-color: rgb(31, 31, 31); */
    margin-top: -50px;
    background-color: rgba(0,0,0,1);
    /* width: 1500px; */
}

.footerdiv1 {
    margin-left: 65px;
}

.footerdiv1 :first-child {
    font-size: 50px;
    padding-top: 40px;
    color: var(--white);
}

.footerdiv1 :last-child {
    font-size: 50px;
    color: rgb(83, 100, 244);
}

.footerdiv2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    margin-left: 65px;
}

.footerdiv2 input {
    height: 60px;
    width: 400px;
    margin-bottom: 60px;
    border-color: white;
    border-radius: 30px;
}

.footer2-1 {
    display: flex;
    flex-direction: column;
}

.footer2-2 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.footer2-2 :last-child {
    height: 185px;
}

.footerdiv2 button {
    height: 35px;
    width: 90px;
    color: white;
    background-color: rgb(83, 100, 244);
    border-color: rgb(83, 100, 244);
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 281px;
}

.footer p {
    color: var(--white);
    padding-bottom: 20px;
    text-align: center;
}

   /* Modal */

   /* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.20);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 20px;
    padding: 15px;
    background: beige;
  }

  .modal-close {
    width: 15px;
    height: 15px;
  } */


@media (max-width: 575px) {
    
}